@import 'imports.scss';

.inner-wrap {
    outline: none;
    padding: calculate-rem(15) + rem;
}

.card {
    cursor: pointer;
    padding: calculate-rem(15) + rem;
    margin-bottom: calculate-rem(15) + rem;
    border-radius: border-radius();
    background: color(white);
    box-sizing: border-box;
    height: calculate-rem(110) + rem;
    color: color(text-700);
    @include body-s();
    display: flex;

    @include shadow(card);

    &:hover {
        @include shadow(card-hover);
    }
}

.details {
    margin-left: calculate-rem(10) + rem;
    flex:  1 0 auto;
}

.row {
    margin-bottom: calculate-rem(10) + rem;
}

.img {
    min-width: calculate-rem(64) + rem;
}