$color-shadow: (shadow-200: #1b1f26, shadow-100: #5b6c7e) !default;
$color-text: (
        text-700: #333333,
    )
    !default;
$color-basic: (
    white: #fff,
    black: #000
);
$color-gray: (
    gray-700: #F6F6F6,
);